<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="userSQL">
  
  	<select id="checkId" parameterType="String" resultType="user.bean.UserDTO">
  		select * from usertable where id = #{id}
  	</select>
  	
  	<select id="login" parameterType="user.bean.UserDTO" resultType="user.bean.UserDTO">
  		select * from usertable where id = #{id} and pwd = #{pwd}
  	</select>
  	
  	<insert id="signUp" parameterType="user.bean.UserDTO">
  		insert into usertable values('1',#{id},#{name},#{pwd},#{tel})
  	</insert>
  	
  </mapper>

