<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="communitySQL">

	<select id="bestBoard" parameterType="java.util.Map" resultType="community.bean.CommunityDTO">
		<![CDATA[select * from 
            (select rownum rn,tt.* from
            (select seq,id_,title,theme,view_count from community where view_count is not null order by 5 desc)tt)
        where rn >= #{startNum} and rn <= #{endNum}]]>
	
	</select>

	<select id="boardList" parameterType="java.util.Map" resultType="community.bean.CommunityDTO">
		<![CDATA[select * from 
            (select rownum rn,tt.* from
            (select seq,id_,title,content_,theme,view_count,like_count from community order by 1 desc)tt)
        where rn >= #{startNum} and rn <= #{endNum}]]>
	
	</select>

	<insert id="boardWrite">
		insert into community (seq,id_,title,content_,theme,view_count,like_count)
		 values (community_seq.NEXTVAL,#{id_},#{title},#{content_},'sad',0,0)
	</insert>

	<select id="getBoard" parameterType="int" resultType="community.bean.CommunityDTO">
		select id_,title,content_,theme,like_count from community where seq=#{seq}
	</select>
	
	<select id="getComment" resultType="community.bean.CommentDTO">
		select id_,comment_ from community_comment where seq=#{seq}
	</select>

</mapper>