<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="jobSQL">

  	<select id="getJobList"  resultType="job.bean.JobDTO">
	  	<![CDATA[
		  	select * from (select rownum rn, b.*
		                  from (select * from job order by seq desc) b )
		    where rn >= 1 and rn <= 16
	       ]]>
  	</select>

  	<select id="moreJobList"  parameterType="String" resultType="job.bean.JobDTO">
	  	<![CDATA[
	  	select * from (select rownum rn, b.*
		                  from (select * from job where seq < #{seq} order by seq desc) b )
		    where rn >= 1 and rn <= 16
	       ]]>
  	</select>

  	<select id="jobBoard" parameterType="String" resultType="job.bean.JobDTO">
  		select * from job where seq = #{seq}
  	</select>

    <select id="jobBoardJobList" parameterType="String" resultType="job.bean.JobDTO">
    	<![CDATA[
		  	select * from (select rownum rn, b.*
		                  from (select * from job where seq < #{seq} order by seq desc) b )
		    where rn >= 1 and rn <= 16
	       ]]>
    </select>

    <select id="positionList" resultType="String">
    	select position from job group by position order by position
    </select>

     <select id="getJobSortList" parameterType="java.util.List" resultType="job.bean.JobDTO">
		select * from (select rownum rn, b.*
		                  from (select * from job where position in
		                  <foreach collection="list" item="jobsort" open="(" close=")" separator=",">
								#{jobsort}
							</foreach>
		                order by seq desc) b )
		   <![CDATA[ where rn >= 1 and rn <= 16 ]]>

    </select>

    <select id="moreJobListWithSort" parameterType="java.util.List" resultType="job.bean.JobDTO">

	  	select * from (select rownum rn, b.*
		                  from (select * from job where seq<![CDATA[ < ]]> #{seq} and
		                  position in
		                  <foreach collection="list" item="jobsort" open="(" close=")" separator=",">
								#{jobsort}
							</foreach>
		                   order by seq desc) b )
		   <![CDATA[ where rn >= 1 and rn <= 16  ]]>

    </select>

  </mapper>
