@charset "UTF-8";

.myboard {
    background-color: #f8f8f8;
}
.my_community_body{
    margin: auto;
    width: 791px;
    margin-top: 70px;
}
.my_community_container{
    width: 100%;
    height: 94%;
    position: absolute;
    margin-top: 51px;
}   
.my_community_body__head{
    height: 40px;
}
.my_community_body__head > span{
    font-weight: bold;
    font-size: 20px;
}
.my_community_body__user_imformation{
    height: 199px;
    border: 0.5px solid #e2e2e2;
    background-color: white;
    padding:30px
}
.my_community_body__my_action{
    margin-top: 10px;
    border: 0.5px solid #e2e2e2;
    background-color: white;
    height: 84px;
}
.my_community_body__user_imformation__profile{
    height: 100px;
    display: flex;
    align-items: center;
}
.my_community_hr{
    margin-top: 20px;
    background-color: #e2e2e2;
    height: 0.1px;
    border: none;
}

.my_community_body__user_imformation__favorite {
    margin-top: 20px;
}

.my_community_body__user_imformation__favorite_tag{
    margin-top: 20px;
}
.my_community_body__user_imformation__profile__img{
    border-radius: 100%;
    height: 100px;
    width: 100px;
}

.my_community_body__user_imformation__profile > span {
    margin-left: 20px;
    font-size: 22px;
    font-weight: 600;
    color: #333333;
}
.favorite_tag{
    background: none;
    border: 1px solid #ececec;
    border-radius: 50px;
    font-size: 12px;
    padding: 6px 8px;
    color: #888888;
}
.my_community_body__user_imformation__favorite_title{
    font-size: 14px;
    font-weight: 600;
}

.my_community_body__my_action{
    padding:30px 0px 0px 30px;
}

.my_community_body__my_action_title{
    height: 22px;
    font-size: 18px;
    font-weight: 700;
    color:#333;
}

.my_community_body__my_action_kind{
    margin-top: 24px;
    font-size: 15px;
    display: flex;
}
.my_community_body__my_action_kind > li {
    margin-right: 16px;
    height: 35px;
    color: #888888;
}

.my_community_body__my_action_kind > li:hover {
    cursor: pointer;
    border-bottom: 2.5px solid #888888;
}
.my_community_body__content_body{
    border: 0.5px solid #e2e2e2;
    border-top: none;
}

.my_community_body__content_body{
    padding:0px 30px;
    background-color: white;
}
.my_community_body__content_body__title{
    color:#333333;
    height: 30px;
    width: 728px;
}
.my_community_body__content_body__content{
    color:#666666;
    width: 728px;
}

.my_community_body__content_body__bottom{
    display: flex;
    margin-top: 10px;
}

.my_community_body__content_body__bottom > div > .fa-regular{
    color: #666666;
}

.my_community_body__content_body__bottom > div > .fa-comment{
    margin-left: 14px;
}

.my_community_body__content_body__title_span{
    font-size: 19px;
    font-weight: 700;
    color: #333;
    overflow: hidden;
    text-overflow: hidden;
    white-space: nowrap;
}

.my_community_body__content_body__content_span{
    font-size: 14px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: break-spaces;
    word-break: break-all;
    overflow: hidden;
}

.my_community_body__content_body__bottom > div > span{
    margin-left: 2px;
    color: #666666;
    font-size: 14px;
}

.content_body_hr{
    margin-top: 20px;
    background-color: #e2e2e2;
    height: 0.1px;
    border: none;
}
.contentDTO{
	padding: 30px 0px 0px 0px;
}
