<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="resumeSQL">
  
  	<insert id="newResumeSave" parameterType="resume.bean.ResumeDTO">
  		insert into resume (RESUME_SEQ,formName, id, name, tel, introduce, writing, logtime) values
  		(resume_seq.nextval, #{formName}, #{id}, #{name},
  		#{tel}, #{introduce},
  		#{writing}, sysdate)
  	</insert>
  	
  	<insert id="fileUpload" parameterType="java.util.Map">
  		insert into resume(resume_seq, formName, id, name, tel, fileName, filePath) 
  		values(resume_seq.nextval, #{formName}, #{id}, #{name}, #{tel}, #{fileName},#{filePath})
  	</insert>
  	
  	<select id="getResumeList" parameterType="String" resultType="resume.bean.ResumeDTO">
  		select resume_seq, formName, writing, to_char(logtime, 'yyyy.mm.dd') as logtime from resume where id = #{id} order by resume_seq
  	</select>
  	
  	<select id="getWritingResume" parameterType="String" resultType="resume.bean.ResumeDTO">
  		select * from resume where resume_seq = #{resumeSeq} 
  	</select>
  	
  	<select id="getAllResumeList" parameterType="String" resultType="resume.bean.ResumeDTO">
  		select resume_seq,formname,writing,filename,to_char(logtime, 'yyyy.mm.dd') as logtime from resume where id = #{id} order by logtime desc
  	</select>
  	
  	<update id="writingResumeSave" parameterType="resume.bean.ResumeDTO">
  		update resume 
		        set formName = #{formName},
		            id = #{id},
		            name = #{name},
		            tel = #{tel},
		            introduce = #{introduce},
		            writing = #{writing},
		            logtime = sysdate
		        where resume_seq = #{resume_seq}
  	</update>
  	
  	<insert id="careerSave" parameterType="resume.bean.CareerDTO">
  		insert into career values (career_seq.nextval, #{id}, #{startWorkYear}, #{startWorkMonth}, #{endWorkYear}, #{endWorkMonth}, #{companyName}, #{department}, #{outcome}, #{outcomeComment}, #{startOutcomeyear}, #{startOutcomeMonth}, #{endOutcomeYear}, #{endOutcomeMonth})
  	</insert>
  	
  	<select id="getCareer" parameterType="String" resultType="resume.bean.CareerDTO">
  		select * from career where id = #{id} order by career_seq
  	</select>
  	
  	<insert id="educationSave" parameterType="resume.bean.EducationDTO">
  		insert into education values (education_seq.nextval, #{id}, #{educationStartYear}, #{educationStartMonth}, #{educationEndYear}, #{educationEndMonth}, #{schoolName}, #{major}, #{content})
  	</insert>
  	
  	<select id="getEducation" parameterType="String" resultType="resume.bean.CareerDTO">
  		select * from education where id = #{id} order by education_seq
  	</select>
  </mapper>