.footer {
  margin: 0 auto;
  width: 1065px;
}
.footer hr {
  border: 1;
  /* background-color: #ededed; */
  color: red;
  background-color: red;
}

.footer__clickevent {
  height: 25%;
  display: flex;
}

.footer__clickevent__nav-bar {
  width: 60%;
  display: flex;
}
.footer__clickevent__white_space {
  width: 15%;
}

.footer__clickevent__nav-bar > ul > li {
  float: left;
  margin-top: 20px;
  margin-left: 40px;
  font-size: 10.5pt;
}

.footer__clickevent__nav-bar img {
  width: 110px;
  height: 39px;
  margin-top: 10px;
}
.footer__clickevent__nav-bar__icon {
  margin-top: 20px;
  display: flex;
  width: 25%;
  justify-content: space-around;
}
.footer__clickevent__nav-bar__icon > img {
  margin: auto;
}

.footer__imformation {
  height: 50%;
  display: flex;
}

.footer__imformation__company {
  margin-top: 2%;
  margin-left: -1%;
  width: 77.5%;
  font-size: 9pt;
  line-height: 140%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #767676;
}
.footer__imformation__country {
  margin-left: 1%;
  margin-top: 2%;
  width: 22.5%;
}
.footer__imformation__country__language {
  width: 100%;
  height: 40%;
  background: no-repeat url("../../img/kr_flag.svg");
  background-size: 25px 25px;
  background-position: 10px 5px;
  padding-left: 18%;
  border: none;
  border-radius: 5px;
}

#footer__imformation__country__language {
  background-color: #f2f4f7;
}
